.boton-amarillo{
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block{
    @include boton($amarillo, BLOCK);
}

.boton-verde{
    @include boton($verde, inline-block);
}

.boton-rojo-block{
    @include boton($rojo, BLOCK);
    width: 100%;
}

.block-verde-block{
    @include boton($verde, BLOCK);
}