.dark-mode{
    background-color: darken($grisOscuro, 10);
    color: $blanco !important;

    p{
        color: $blanco !important;
    }

    a, h1, h2, h3, h4, h5, h6, li{
        color: $gris !important;
    }

    .anuncios{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio{
            color: $verde !important;
        }

        .icono{
            filter: invert(100%);
        }
    }


}