.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        align-items: flex-end;
    }

    .darck-mode-boton{
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);

        &:hover{ //lo hace boton o cambia a un puntero
            cursor: pointer;
        }

        @include tablet{
            margin-top: 0;
            margin-bottom: 0;   
        }
    }

}

.barra{
    display: flex;
    flex-direction:column;
    padding-top: 3rem;
    align-items: center;

    @include tablet{
        flex-direction:row;
        justify-content: space-between;
        
        align-items: flex-end;
    }
}

.navegacion{
    //margin-top: 1rem;
    //display: none;
    visibility: hidden;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
    opacity: 0;
    height: 0;

    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-left: 2rem;
            font-size: 1.8rem;
            
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}
/**Menu de hamburguesa**/
.mobile-menu{

    @include tablet{
        display: none;
    }

    img{
        width: 5rem;
    }
}

.mostrar{
    /**display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }**/
    visibility: visible;
    opacity: 1;
    transition: visibility 3s ease-in-out;
    height: auto;
}